include LICENSE
include README.md
include requirements.txt
include freebox_failover.py
include freebox_failover_register.py
include freebox_failover.conf
include freebox_failover.service
include cloud-init-user-data.yaml
include systemd/freebox_failover.env
include freebox-failover.spec
